@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a href="/customers/Create?currentUrl=/Payment/MakePayment&noPassword=true">Üye Olmadan Devam Et</a>
<a href="/customers/login?currentUrl=/Payment/MakePayment">Üye Girişi</a>
<a href="/customers/Create?currentUrl=/Payment/MakePayment">Üye Ol</a>
@*<a asp-controller="Customers" asp-action="Login">Üye Girişi</a> @* parametre vericek*@





